<p>Demo 1 - checkbox</p>
<mat-checkbox
#showDetails
[value]=""
[checked]="isChecked"
(change)="onChangeCheckbox($event)"
>Show Details</mat-checkbox>

<div *ngIf="showDetails.checked">
Show div if checkbox is checked
</div><br/>

<p>Demo 2 - radio-button</p>
<mat-radio-group aria-label="Select an option" value="1" (change)="onChangeRadio($event)"> 
  <mat-radio-button value="1">Male</mat-radio-button>
  <mat-radio-button value="2">Female</mat-radio-button>
</mat-radio-group> <br/>

<p>Demo 3 - checkbox checked property</p>
<mat-radio-group aria-label="Select an option"> 
  <mat-radio-button value="1">Single</mat-radio-button>
  <mat-radio-button value="2" [checked]="isCheckedRadio">Married</mat-radio-button>
</mat-radio-group><br/>

<p>Demo 4 - dropdown</p>
<mat-form-field appearance="fill">
  <mat-label>Favorite food</mat-label>
  <mat-select [(ngModel)]="ddpValue">
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field><br/>

<p>Demo 5 - dropdown error handling</p>
<mat-form-field appearance="fill">
  <mat-label>Choose one</mat-label>
  <mat-select [formControl]="selected" [errorStateMatcher]="matcher">
    <mat-option>Clear</mat-option>
    <mat-option value="valid">Valid option</mat-option>
    <mat-option value="invalid">Invalid option</mat-option>
  </mat-select>
  <mat-hint>Errors appear instantly!</mat-hint>
  <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
  <mat-error *ngIf="selected.hasError('pattern') && !selected.hasError('required')">
    Your selection is invalid
  </mat-error>
</mat-form-field><br/>

<p>Demo 6 - Input field</p>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>
  <mat-hint>Type your favourite food!</mat-hint>
  <br/>


  <mat-form-field class="example-form-field">
    <mat-label>Enter email</mat-label>
    <input matInput #emailInput type="text">
    <span matSuffix>@mail.com</span>
    <button mat-button *ngIf="emailInput.value" matSuffix mat-icon-button aria-label="Clear" (click)="emailInput.value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field><br/>

  <mat-form-field class="example-form-field">
    <mat-label>Enter phone</mat-label>
    <span matPrefix>+1 &nbsp;</span>
    <input matInput type="text"
    #phoneNo required>
    <button mat-button *ngIf="phoneNo.value" matSuffix mat-icon-button aria-label="Clear" (click)="phoneNo.value=''">
      <mat-icon>close</mat-icon>
    </button>
    <mat-error *ngIf="phoneNo.invalid && phoneNo.errors.required">
      Phone no field is required
    </mat-error>
  </mat-form-field>
</form>

<p>Demo 7 - Expansion panel, Datepicker</p>
<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput type="number" min="1">
    </mat-form-field>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Destination
      </mat-panel-title>
      <mat-panel-description>
        Type the country name
        <mat-icon>map</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>Country</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day of the trip
      </mat-panel-title>
      <mat-panel-description>
        Inform the date you wish to travel
        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
    </mat-form-field>
    <mat-datepicker #picker></mat-datepicker>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
